<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let stat of stats">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">{{ stat.icon }}</i>
            </div>
            <p class="card-category">{{ stat.category }}</p>
            <h3 class="card-title">{{ stat.value }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)">{{ stat.info }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily Cases</h4>
            <p class="card-category">
              <span class="text-success">
                <i class="fa fa-long-arrow-up"></i> {{ dailyCasesIncrease }}%
              </span>
              increase in today cases.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated {{ lastUpdated }} minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Monthly Cases</h4>
            <p class="card-category">Last Month Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated {{ lastUpdated }} minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Completed Tasks</h4>
            <p class="card-category">Last Month Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated {{ lastUpdated }} minutes ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Tasks</h4>
            <p class="card-category">Manage your tasks</p>
          </div>
          <div class="card-body">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item" *ngFor="let taskTab of taskTabs">
                <a mat-button class="nav-link" [class.active]="taskTab.active" (click)="selectTab(taskTab)">
                  <i class="material-icons">{{ taskTab.icon }}</i> {{ taskTab.label }}
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" [class.active]="taskTab.active" *ngFor="let taskTab of taskTabs">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let task of taskTab.tasks">
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="task.completed" />
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>{{ task.description }}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="editTask(task)">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="removeTask(task)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Case Data</h4>
            <p class="card-category">Recent case data</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Case Status</th>
                <th>Location</th>
              </thead>
              <tbody>
                <tr *ngFor="let case of cases">
                  <td>{{ case.id }}</td>
                  <td>{{ case.name }}</td>
                  <td>{{ case.status }}</td>
                  <td>{{ case.location }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
